* {
    margin:0; 
    padding:0;
}

body{
    background-image:url(img/sample-pattern.png) ;
}

header{
    width: 100%;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: #fff;
}

.logo {
    display: inline-block;
    line-height: 50px;
    float: left;
}

.menu {
    display: inline-block;
    float: right;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    padding: 0 20px;
    display: block;
    line-height: 50px;
}

.menu li:hover{
    background-color: #CDDC39;
}
.wrap{
    width: 90%;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color:rgb(64, 61, 221);
    display: block;
    transition: 0.3s;
}
a:hover {
    transition: 0.3s;
}

section{
    margin-top: 60px;
    justify-content: center;	
}
h1{
    text-align: center;
    font-family: monospace;
    font-weight: bold;
    font-size: 35px;
    padding: 3%;
}

#article-list{
    margin: 1% 15% 5% 15%;
    background-color: white;
}

article{
    padding: 20px;
}
h3{
    color:rgb(64, 61, 221);
}

footer{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: black;
    color: #fff;
    padding: 20px 0px 20px 0px;
}


@media screen and (max-width:500px){
    .menu{
        display: inline;
    }

    .menu a:hover {
        color: #fff;
        background: #353535;
    }

    .menu ul li {
        display: block;
        text-align: center;
    }
}