*{
    padding: 0% 10% 0% 10%;
    width: 80%;
}
.cards {
    max-width: 80%;
    box-shadow:0 100px 200px 0 rgba(0,0,0,0.16),0 100px 100px 0 rgba(0,0,0,0.12);
    border: 3px;
    background-color:black;
}

header{
    padding: 16px;
    color: white;
}
.content{
    padding: 16px;
    color: #fff;
}